<section id="home">
  <div class="animated fadeIn container">
    <div class="row">
      <div class="col-sm-12">
        <div class="centered-box text-center">
          <h3>Welcome to CODENETIX!</h3>
          <app-ngbd-carousel-basic></app-ngbd-carousel-basic>
          <p class="home-text">Collaborating made simple.</p>
          <div class="home-buttons-container">
              <button type="button" class="btn btn-primary btn-login" [routerLink]="['/login']">Login</button>
              <button type="button" class="btn btn-primary btn-register" [routerLink]="['/register']">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
