<app-breadcrumbs-search [showCreatePostButton]="true" [showCreateTeamButton]="true" [showSearch]="true"></app-breadcrumbs-search>

<section id="posts">
  <div class="animated fadeIn container">
    <div class="row">
      <div class="col-sm-12">
        <app-post-view
          *ngFor="let post of data"
          [post]="post"
          [loggedInUser]="loggedInUser"
          (liked)="itemLike($event)"
          (disliked)="itemDislike($event)"
          (updatedItem)="updateItem($event)"
          (deletedItem)="deleteItem($event)"
        ></app-post-view>
      </div>
    </div>
  </div>
</section>
