#search-box {
  display: inline-block;
  position: relative;
}

.search-input {
  border: none;
  background: #e9e9e9;
  padding: 8px 22px;
  border-radius: 35px;
  width: 190px;
  transition: width 0.2s;
}

.search-input:focus {
  width: 230px;
}

.search-button {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 3px;
  padding: 5px 15px;
  transition: color 0.2s;
}

.search-button:hover {
  color: #2775ff;
}

.clear-search-link {
  font-size: 14px;
  color: #28a745 !important;
  margin-right: 10px;
  cursor: pointer;
}

.clear-search-link > span {
  margin-right: 7px;
}

.clear-search-link:hover {
  text-decoration: underline !important;
}