<div class="card">
  <div class="animated fadeIn card-image-container" [routerLink]="['/teams', this.user.id]">
    <img src="../../../assets/team-image.jpg" class="card-img-top" alt="User Image">
  </div>
  <div class="card-body">
    <a class="user-title-link" [routerLink]="['/users', this.user.id]">

    </a>
    <ul>
      <li><span class="info-name">Team Name :</span> {{user.name}}</li>

      <li><span class="info-name">Registered :</span> {{user.createdOn | date}}</li>
    </ul>
    <a class="btn btn-primary" [routerLink]="['/teams', this.user.id]">Team profile</a>
  </div>
</div>