<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="text">Copyright 2019 CODENETIX. All rights reserved.</div>
      </div>
      <div class="col-sm-3 text-right">
          <button type="button" class="btn top-link" (click)="toTop()">Back to top<span class="top-arrow fas fa-arrow-up"></span></button>
      </div>
    </div>
  </div>
</footer>