<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" *ngIf="!isLogged">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img class="logo" [routerLink]="['/home']" routerLinkActive="active" src="../../../assets/logo.png" alt="Logo">
      </a>

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item" routerLinkActive="active">
            <a class="btn btn-menu" [routerLink]="['/home']">Home</a>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
            <a class="btn btn-menu" [routerLink]="['/login']">Login</a>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
              <a class="btn btn-menu" [routerLink]="['/register']">Register</a>
          </li>
    
        </ul>

      </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light" *ngIf="isLogged">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img class="logo" src="../../../assets/logo.png" alt="CODENETIX Logo">
      </a>

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item" routerLinkActive="active">
            <button type="button" class="btn btn-menu" [routerLink]="['/posts']">Review Requests</button>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <button type="button" class="btn btn-menu" [routerLink]="['/teams']">Teams</button>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
            <button type="button" class="btn btn-menu" [routerLink]="['/users']">Users</button>
          </li>
    
        </ul>
    
        <div class="username-logout">
          <button type="button" class="btn btn-menu" (click)="onName()">
            <span class="username"><span class="user-icon fas fa-user"></span>{{loggedInUser}}</span>
          </button>
          <button type="button" class="btn btn-logout" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </nav>
  </div>
</header>