<section id="register">
  <div class="animated fadeIn container">
    <div class="row">
      <div class="col-sm-12">
        <div class="centered-box">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-group">

            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="name-input" placeholder="Username" formControlName="name"
                [class.is-valid]="this.registerForm.controls['name'].valid && this.registerForm.controls['name'].touched"
                [class.is-invalid]="this.registerForm.controls['name'].invalid && this.registerForm.controls['name'].touched"
              >

              <div class="invalid-feedback"
                *ngIf="this.registerForm.controls['name'].invalid && this.registerForm.controls['name'].touched"
              >
                <small *ngIf="this.registerForm.controls['name'].errors.required">Username is required!</small>
                <small *ngIf="this.registerForm.controls['name'].errors.minlength">Username must be at least 4 characters long!</small>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email-input" placeholder="Email" formControlName="email"
                [class.is-valid]="this.registerForm.controls['email'].valid && this.registerForm.controls['email'].touched"
                [class.is-invalid]="this.registerForm.controls['email'].invalid && this.registerForm.controls['email'].touched"
              >

              <div class="invalid-feedback"
                *ngIf="this.registerForm.controls['email'].invalid && this.registerForm.controls['email'].touched"
              >
                <small *ngIf="this.registerForm.controls['email'].errors.required">Email is required!</small>
                <small *ngIf="this.registerForm.controls['email'].errors.email">Please enter a valid email address!</small>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password-input" placeholder="Password" formControlName="password"
                [class.is-valid]="this.registerForm.controls['password'].valid && this.registerForm.controls['password'].touched"
                [class.is-invalid]="this.registerForm.controls['password'].invalid && this.registerForm.controls['password'].touched"
              >
              
              <div class="invalid-feedback"
                *ngIf="this.registerForm.controls['password'].invalid && this.registerForm.controls['password'].touched"
              >
                <small *ngIf="this.registerForm.controls['password'].errors.required">Password is required!</small>
                <small *ngIf="this.registerForm.controls['password'].errors.minlength">Password must be at least 4 characters long!</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="this.registerForm.invalid">Register</button>
          </form>   
        </div>
      </div>
    </div>
  </div>
</section>

