<app-breadcrumbs-search [showCreatePostButton]="false" [showSearch]="false"></app-breadcrumbs-search>

<section id="single-post">
  <div class="animated fadeIn container">
    <div class="row">
      <div class="col-sm-12">
        
        <app-post-view
          [post]="post"
          [showContent]="true"
          [loggedInUser]="loggedInUser"
          (liked)="itemLike($event)"
          (disliked)="itemDislike($event)"
          (updatedItem)="updateItem($event)"
          (deletedItem)="deleteItem($event)"
        ></app-post-view>

        <button class="accept-reviewRequest-button" (click)="acceptReviewRequest()">
            <span class="button-icon fas fa-check-circle"></span>Approve
          </button>
          
          <button class="reject-reviewRequest-button" (click)="rejectReviewRequest()">
            <span class="button-icon fas fa-times-circle"></span>Unapprove 
          </button>

        <app-post-comments
          *ngFor="let comment of this.post.comments" 
          [comment]="comment"
          [loggedInUser]="loggedInUser"
          (liked)="commentLike($event)"
          (disliked)="commentDislike($event)"
          (updatedItem)="updateComment($event)"
          (deletedItem)="deleteComment($event)"
        ></app-post-comments>
        <app-create-comment 
          (createComment)="createCommentOfPost($event)">
        </app-create-comment>
      </div>
    </div>
  </div>
</section>
