.accept-reviewRequest-button, .reject-reviewRequest-button {
    background: none;
    color: #2775ff;
    border: 2px solid #2775ff;
    padding: 8px 20px;
    border-radius: 40px;
    transition: all 0.2s;
    margin-top: 0px;
  }
  
  .accept-reviewRequest-button:hover, .reject-reviewRequest-button:hover {
    background: #2775ff;
    color: #ffffff;
  }
  
  .button-icon {
    margin-right: 8px;
  }

  .reject-reviewRequest-button {
    float: right;
  }