<div>
    <button type="submit" class="btn btn-primary"
        (click)="enableEdit()">Edit</button>
    <div *ngIf="editable">
        <input  #updatedMessage type="text" value="this.oldComment.message"/>
        <button type="submit"
        (click)="updateCommentOfYours(updatedMessage.value)">Submit Changes!</button>
    </div>
</div>

