<div class="container">
<ngb-carousel>
  <ng-template ngbSlide>
    <img [src]="imageOne" alt="Random first slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="imageTwo" alt="Random second slide">
    <div class="carousel-caption">
 
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="imageThree" alt="Random third slide">
    <div class="carousel-caption">
 
    </div>
  </ng-template>
</ngb-carousel>
</div>