.post {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 20px 30px;
  margin-bottom: 15px;
  position: relative;
}

.post-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.post-title-link {
  color: #212529;
  text-decoration: none;
}

.post-title-link:hover {
  color: #2775ff;
}

.post-content {
  margin: 20px 0;
}

.post-details {
  margin-top: 10px;
  font-size: 0.9rem;
}

.post-author-link {
  color: #2775ff;
}

.post-author-link:hover {
  color: #00c0ff;
}

.date-icon {
  color: #2775ff;
}

.date-icon:hover {
  color: #00c0ff;
}

.post-author {
  margin-right: 15px;
}

.user-icon, .date-icon {
  margin-right: 5px;
  font-size: 90%;
}

.tag-icon {
  margin-left: 15px;
  margin-right: 5px;
  font-size: 100%;
  color: #2775ff;
}

.tag-icon:hover {
  color: #00c0ff;
}

.post-status {
  float: right;
}
