<app-breadcrumbs-search [showCreatePostButton]="true" [showCreateTeamButton]="true"  [showSearch]="true"></app-breadcrumbs-search>
<section id="users">
  <div class="container">
    <div class="row custom-row">
      <div class="col-md-4" *ngFor="let user of users">
        <app-users-view [user]="user"></app-users-view>
      </div>
    </div>
  </div>
</section>