.create-team-button {
  background: none;
  color: #2775ff;
  border: 2px solid #2775ff;
  padding: 8px 20px;
  border-radius: 40px;
  transition: all 0.2s;
}

.create-team-button:hover {
  background: #2775ff;
  color: #ffffff;
}

.button-icon {
  margin-right: 8px;
}