<div class="comments-form">
  <h4 class="create-comment-header"><span class="create-comment-icon fas fa-pencil-alt"></span>Leave a comment</h4>
  <form [formGroup]="commentForm" (ngSubmit)="createCommentOfPost()">
    <div class="form-group">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" formControlName="title"
              [class.is-valid]="this.commentForm.controls['title'].valid && this.commentForm.controls['title'].touched"
              [class.is-invalid]="this.commentForm.controls['title'].invalid && this.commentForm.controls['title'].touched"
            >
            <div class="invalid-feedback"
              *ngIf="this.commentForm.controls['title'].invalid && this.commentForm.controls['title'].touched"
            >
              <small *ngIf="this.commentForm.controls['title'].errors.required">Title is required!</small>
              <small *ngIf="this.commentForm.controls['title'].errors.minlength">Title must be at least 3 characters long!</small>
            </div>
          </div>
          
      <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="this.commentForm.invalid">Submit</button>
  </form>
</div>
