.create-post-form {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 2.5rem;
  border-radius: 4px;
}

.create-post-header {
  margin-bottom: 30px;
}

.create-post-icon {
  margin-right: 10px;
}

.create-post-form button {
  margin-top: 20px;
}