<section class="pagination"
  [class.pagination-top]="this.placement === 'top'"
  [class.pagination-bottom]="this.placement === 'bottom'"
  [class.pagination-disabled]="this.paginationDisabled"
>
  <div class="container">
    <div class="row custom-row d-flex align-items-center">
      <div class="col-md">
        <span class="pagination-viewing">
          Viewing {{viewing}} posts - {{(page * pageSize) - (pageSize - 1)}} through {{through}}
        </span>
      </div>
      <div class="col-md text-right">
        <div class="pagination-container">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [(pageSize)]="pageSize"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</section>